#conteneur {
    max-width: 1200px;
    margin: 0 auto;
}

table {
    width: 80%; margin: 0 auto; 
    border-collapse: collapse; 
    text-align: center;
}

th, td {
    padding: 10px; 
}

th {
    color: ForestGreen;
}
td {
    color: #000080;
}